<% for(var i= 0; i < channels.length; i++) { %>
  <% if (channels[i].id == welcomeChannel && type === 'join') { %>
    <option selected value="<%= channels[i].id %>">#<%= channels[i].name %></option>
  <% } else if (channels[i].id == leaveChannel && type === 'leave') { %>
    <option selected value="<%= channels[i].id %>">#<%= channels[i].name %></option>
  <% } else { %>
    <option value="<%= channels[i].id %>">#<%= channels[i].name %></option>
  <% } %>
<% } %> 