<!-- 8ball -->
<div class="card">
  <div>
    <div class="cardName">8ball</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="8ball" type="checkbox" checked onchange="toggleChange('8ball', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Age-Guesser -->
<div class="card">
  <div>
    <div class="cardName">Age-Guesser</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="age-guesser" type="checkbox" checked
          onchange="toggleChange('age-guesser', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Bad-Advice -->
<div class="card">
  <div>
    <div class="cardName">Bad-Advice</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="bad-advice" type="checkbox" checked
          onchange="toggleChange('bad-advice', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Bored -->
<div class="card">
  <div>
    <div class="cardName">Bored</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="bored" type="checkbox" checked onchange="toggleChange('bored', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Bot-Info -->
<div class="card">
  <div>
    <div class="cardName">Bot-Info</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="bot-info" type="checkbox" checked onchange="toggleChange('bot-info', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Chuck-Norris -->
<div class="card">
  <div>
    <div class="cardName">Chuck-Norris</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="chuck-norris" type="checkbox" checked
          onchange="toggleChange('chuck-norris', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Coin-Flip -->
<div class="card">
  <div>
    <div class="cardName">Coin-Flip</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="coin-flip" type="checkbox" checked onchange="toggleChange('coin-flip', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Dice -->
<div class="card">
  <div>
    <div class="cardName">Dice</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="dice" type="checkbox" checked onchange="toggleChange('dice', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Gif -->
<div class="card">
  <div>
    <div class="cardName">Gif</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="gif" type="checkbox" checked onchange="toggleChange('gif', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Help -->
<div class="card">
  <div>
    <div class="cardName">Help</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="help" type="checkbox" checked onchange="toggleChange('help', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Insult -->
<div class="card">
  <div>
    <div class="cardName">Insult</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="insult" type="checkbox" checked onchange="toggleChange('insult', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Joke -->
<div class="card">
  <div>
    <div class="cardName">Joke</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="joke" type="checkbox" checked onchange="toggleChange('joke', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Kanye -->
<div class="card">
  <div>
    <div class="cardName">Kanye</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="kanye" type="checkbox" checked onchange="toggleChange('kanye', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Meme -->
<div class="card">
  <div>
    <div class="cardName">Meme</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="meme" type="checkbox" checked onchange="toggleChange('meme', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Ping -->
<div class="card">
  <div>
    <div class="cardName">Ping</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="ping" type="checkbox" checked onchange="toggleChange('ping', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Punch -->
<div class="card">
  <div>
    <div class="cardName">Punch</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="punch" type="checkbox" checked onchange="toggleChange('punch', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Quote -->
<div class="card">
  <div>
    <div class="cardName">Quote</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="quote" type="checkbox" checked onchange="toggleChange('quote', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Random-Number -->
<div class="card">
  <div>
    <div class="cardName">Random-Number</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="random-number" type="checkbox" checked
          onchange="toggleChange('random-number', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Random-Story -->
<div class="card">
  <div>
    <div class="cardName">Random-Story</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="random-story" type="checkbox" checked
          onchange="toggleChange('random-story', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Uptime -->
<div class="card">
  <div>
    <div class="cardName">Uptime</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="uptime" type="checkbox" checked onchange="toggleChange('uptime', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>

<!-- Urban-Dictionary -->
<div class="card">
  <div>
    <div class="cardName">Urban-Dictionary</div>
    <div class="center">
      <label class="switch">
        <input class="toggleSwitch" id="urban-dictionary" type="checkbox" checked
          onchange="toggleChange('urban-dictionary', '<%= id %>')">
        <span class="slider"></span>
      </label>
    </div>
  </div>
</div>